apiVersion: v1
name: docker-config-secret
description: Docker config secrets to use docker registry
version: {{ getenv "VERSION" }}
keywords:
  - docker
  - secrets
  - kubernetes
home: https://github.com/stakater-charts/docker-config-secrets
maintainers:
- name: Stakater
  email: stakater@aurorasolutions.io